REACT_APP_BASE_URL='http://localhost:5000/'
REACT_APP_ACCESS_TOKEN_SECRET='eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1dWlkIjoiOWZmMTM0MjgtMTJmMy00ZWMwLTk0OGYtMDg0NjJmNDNiMTMzIiwiYXBwX25hbWUiOiJob29sbyIsImVtYWlsIjoic3VwcG9ydEBob29sby5saXZlIiwicGxhdGZvcm0iOiJ3ZWIiLCJleHBfZGF0ZSI6IjIwMjQtMDEtMDlUMDg6MzU6MTcuNDgyMTczWiJ9.8WEJkDpj1RZKimtN_RNLpvvuN4EK8PkYodI0xYoEQaw'
